.dashboard {
    position: relative;
    margin: auto;
    width: 100%;
}
.noUserMessage {
    width: fit-content;
    padding: 20px 10px;
    margin: auto;
    text-align: center;
}
.compensateMobileBottom {
    display: none;
}
@media only screen and (min-width: 680px) {
    .dashboard {
        max-width: 85%;
        margin: auto;
    }
}