.listContainer {
    display: flex;
    width: 85%;
    margin: 0 auto 10px;
    padding: 10px;
    box-shadow: 0 0 8px 1px rgba(32,33,36,.15);
    border-radius: 10px;
    background-color: white;
}
.allUserMoviesContainer {
    display: flex;
    width: 100%;
    overflow: auto;
}
.mediaListPage {
    margin: 15px auto;
    width: 100%;
}
.allListsContainer {
    width: 100%;
}
.listDetails {
    width: 100%;
    padding: 10px 10px;
}
.listName {
    font-weight: 700;
    color: darkslategrey;
}
.listDescription {
    color: dimgrey;
}
.emptyLists {
    text-align: center;
    color: grey;
    padding: 1px 15px;
}
.emptyListText {
    margin: 20px auto;
}
.completedListContainer {
    border-top: 2px solid #e7e7e7;
    padding-top: 10px;

    .listName {
        color: #b5b5b5;
    }
}
.completedListContainer:empty {
    display: none;
}
@media only screen and (min-width: 1200px) {
    .allListsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .listContainer {
        width: 47%;
        margin: 10px 0;
    }
    .completedListContainer {
        width: 100%;

        .listContainer {
            margin: auto;
            width: 93%;
        }
    }
}