.settingsContainer {
  padding: 10px;
  border-radius: 10px;
  background-color: white;

  $buttonBorder: 2px solid rgba(208, 208, 208, 0.2);

  &>*:nth-child(1) {
    border-top: $buttonBorder;
  }
  button.mainLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    padding: 20px 10px;
    border: none;
    border-top: $buttonBorder;
    border-bottom: $buttonBorder;
    border-radius: 10px;
    text-align: left;
    color: steelblue;
    font-size: 1.1em;
    font-weight: bold;
    background-color: whitesmoke;

    svg {
      font-weight: bold;
      height: 30px;
      width: 30px;
    }
  }
  button.logout, button.deleteList {
    color: firebrick;
  }
}
.deleteContainer, .editContainer {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: darkslategray;

  button {
    padding: 10px 15px;
    margin: 5px auto;
    font-size: 0.7em;
    color: inherit;
  }
}
.deleteContainer {
  svg {
    color: firebrick;
  }
}
.newListForm {
  background-color: white;
  padding: 10px 0;
  border-radius: 10px;

  fieldset {
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
  }

  label {
    display: inline-block;
    padding: 0 10px;
    font-size: 0.8em;
    width: 120px;
  }
  select, input, textarea {
    box-sizing: border-box;
    height: 50px;
    width: 170px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: inherit;
    padding: 0 5px;
  }
  textarea {
    padding: 10px 5px;
    height: 100px;
  }
  option {
    font-size: 0.9em;
    font-family: inherit;
  }
  button {
    display: block;
    width: fit-content;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 20px auto 10px;
    background-color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: cadetblue;
  }
}