.signUpPage {
    text-align: center;
}
.signUpForm {
    fieldset {
        display: flex;
        width: 100%;
    }
    label, input, h1 {
        display: inline-block;
        margin: 10px;
    }
    label, input {
        width: 40%;
        padding-left: 10px;
        padding-right: 10px;
    }
    label {
        text-align: right;
    }
    button {
        background-color: lightblue;
    }
}