.container {
    $inputAndButtonMargin: 0 10px 15px;
    $borderRadius: 7px;
    $inputAndButtonHeight: 40px;

    form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: stretch;
    }
    input {
        height: 30px;
        width: 60%;
        margin: $inputAndButtonMargin;
        margin-right: 0;
        border: 1px solid transparent;
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
        outline: none;
        font-size: 1.05em;
        text-align: center;
        transition: all 200ms linear;
    }
    input:hover {
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
    }
    input.fullWidth {
        width: 100%;
        margin: 0;
    }
    button {
        background: darkslategray;
        width: fit-content;
        color: white;
        margin: $inputAndButtonMargin;
        margin-left: 0;
        border: none;
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        box-shadow: 0 1px 2px rgba(32,33,36,.28);
        text-align: center;
        font-size: 1.2em;
    }
    .useSearchButton {
        input {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        input, button {
            box-sizing: border-box;
            height: $inputAndButtonHeight;
            box-shadow: 0 1px -1px rgba(32,33,36,.28);
        }
    }
}
