$padding-size: 5px;

.collapsibleCard {
    padding: $padding-size;
    // border: 1px solid rgb(245, 245, 245);
    border-radius: 5%;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        
        svg {
            transform: rotate(0deg);
            transition: transform 200ms;
        }

        svg, polygon{
            fill: darkgray;
        }
    }
    .btnExpand {
        svg {
            transform: rotate(180deg);
        }
    }
    svg {
        height: 22px;
        width: 22px;
    }
    .largeBtn svg {
        height: 35px;
        width: 35px;
    }
}
.cardHeader.useStyleHeader {
    font-size: 1.1em;
    text-decoration-line: underline;
    text-decoration-color: lightgray;
}
.collapsibleSection {
    overflow: hidden;

    button {
        outline: none;
    }
}