.editUserMediaContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.posterAndTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaPosterContainer {
  width: 30%;
  padding: 10px;
}
.mediaTitleContainer {
  width: 45%;
  padding: 15px;
}
.mediaPoster {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.mediaTitle {
  font-size: 1.2em;
  font-weight: bold;
}
.form>.fieldContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px 10px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: whitesmoke;
}
.watchStatusContainer {
  display: inline-flex;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}
.watchStatusButton {
  border: none;
  background-color: transparent;
  outline: none;
  svg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 250ms linear;
    fill: white;
  }
}
.notWatched svg {
  stroke-width: 3;
  fill: red;
}
.watched svg {
  stroke-width: 3;
  fill: green;
}

.ratingStarsContainer {
  display: flex;
  margin: auto;
  padding: 10px 0;
}
.ratingStarButtons {
  border: none;
  padding: 1px;
  background-color: transparent;
  svg {
    width: 23px;
    height: 23px;
    transition: all 250ms linear;
    fill: white;
  }
}
.shadedStars svg {
  fill: green;
}
.editUserMediaContainer {
  .label, .textarea {
    margin: 10px auto;
    outline: none;
    color: black;
  }
  .textarea {
    display: block;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    width: 80%;
    font-family: inherit;
    font-size: 16px;
  }
}
@media only screen and (min-width: 680px) {
  .mediaPoster {
    width: 150px;
    height: auto;
  }
}