.listContainer {
    display: flex;
    width: 95%;
    margin: 0 auto 10px;
    padding: 5px;
    box-shadow: 0 0 8px 1px rgba(32,33,36,.15);
    border-radius: 10px;
    background-color: white;
}
.allUserMoviesContainer {
    display: flex;
    width: 100%;
    overflow: auto;
}
.mediaListPage {
    width: 100%;
}
.allListsContainer {
    width: 100%;
}
.listDetails {
    width: 100%;
    padding: 10px 10px;
}
.emptyLists {
    text-align: center;
    color: grey;
    padding: 1px 0;

    p {
        margin: 20px auto;
    }
}