.selectorWrapper {


    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:whitesmoke;
    font-size: 1.05em;
    z-index: 2;

    .selectorContainer {
        display: flex;
        position: relative;
        top: 0;
        justify-content: center;
        width: 100%;
        border-top: 1px solid lightgray;
    }
    .activeCategory {
        font-weight: bold;
        color: gray;
    }
    button {
        width: 30%;
        margin: 0 10px 5px;
        padding: 0 8px;
        border: 0;
        font-size: 1.1em;
        color: #b5b5b5;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: 200ms ease;
    }
    .imageContainer {
        //display: none;
        //height: 0;

        svg {
            width: 25px;
            height: 30px;
        }
    }
    button {
        padding: 0;
        font-size: 0.8em;
    }
}
@media only screen and (min-device-width: 680px) {
    .selectorContainer {
        justify-content: center;
        position: sticky;
        top: 0;
        font-size: 1em;

        button {
            width: 15%;
            padding: 0 30px;
        }
    }
}
.raiseOnFullscreen {
    display: none;
}
@media all and (display-mode: standalone) {
    .raiseOnFullscreen {
        display: block;
        height: 25px;
        background-color: whitesmoke;
    }

    //.imageContainer {
    //    display: block;
    //    height: fit-content;
    //}
}
