.selectorContainer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: whitesmoke;
    font-size: 1.05em;
    z-index: 2;

    .activeCategory {
        font-weight: bold;
    }
    button {
        margin: 0 10px;
        padding: 7px 0;
        border: 0;
        font-size: 1.25em;
        color: gray;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: 200ms ease;
    }
    button:hover {
        color: darkslategray;
    }
}
@media only screen and (min-device-width: 680px) {
    .selectorContainer {
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        font-size: 1em;
    }
}
