@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

.navbarContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    color: darkslategray;
    box-shadow: 0 0 8px 1px rgba(32,33,36,.28);
    background-color: white;
    z-index: 999;
}
.navbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}
.appName {
    width: 100%;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    //font-family: 'Righteous', sans-serif;
    font-size: 20px;
    a {
        font-weight: 700;
    }
}
.navbarItem {
    margin: 15px 20px;
    a {
        padding: 0;
        border: none;
        font-size: 1em;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
    }
}
