.searchFormContainer {
    max-width: 900px;
    margin: auto;
}
.loadingContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

    svg {
        height: auto;
        width: 100px;
        stroke-width: 10;
        stroke: darkslategray;
        animation: loadingRotate 1s linear infinite normal forwards;
    }
}
.notSearchedYet {
    margin: 10px auto;
    width: fit-content;
}
@keyframes loadingRotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
.resultCard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.posterContainer {
    width: 30%;
}
.resultImage {
    border-radius: 5px;
    max-width: 90%;
}
.movieInfoContainer {
    width: 50%;

    .mediaTitle {
        font-weight: bold;
    }
    .mediaTitle, .actors, .releaseDate, .mediaType {
        margin: 10px 5px;
    }
    .mediaType {
        text-transform: uppercase;
        font-size: 12px;
    }
}
.actionContainer {
    width: 15%;
    text-align: right;
}
.addToListSpan {
    display: block;
}
@media only screen and (min-width: 680px) {
    .posterContainer {
        width: 10%;
    }
}
@media only screen and (min-width: 680px) {
    .resultCard {
        max-height: 180px;
    }
}
.nonSpecificAction {
    display: flex;
    overflow: hidden;
    height: 100%;

    .addToListButton {
        border: none;
        border-radius: 10px;
        padding: 10px;
        background: whitesmoke;
        cursor: pointer;
        font-size: 12px;
    }
    .userNotesLabel {
        max-width: 70vw;
        margin: auto;
    }
}
.searchResultsContainer {
    background-color: white;
    border-radius: 10px;
    padding: 5px 0;
}
.allListsContainer {
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: darkslategray;
}
