.submitButton {
  display: block;
  width: fit-content;
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 20px auto 10px;
  background-color: darkslategrey;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}