html {
    background-color: whitesmoke;
}
.App {
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
button, input {
  font-family: 'Quicksand', sans-serif;
  -webkit-appearance: none;
}

@media screen and (max-device-width: 680px) {
    .App {
      display: block;
      position: relative; /*for absolute positioning or to get them behind
                           pop-ups with z-index
                           this also prevents absolute-position elements being outside
                           the parent element from stretching the view*/
      width: 100vw;
      /* overflow: hidden; */
    }
  }