body {
    background-color: whitesmoke;
}
.App {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    background-color: whitesmoke;

}
button, input {
  font-family: 'Quicksand', sans-serif;
  -webkit-appearance: none;
  cursor: pointer;
}
strong { font-weight: bold; }

@media screen and (max-device-width: 680px) {
    .App {
      display: block;
      position: absolute; /*for absolute positioning or to get them behind
                           pop-ups with z-index
                           this also prevents absolute-position elements being outside
                           the parent element from stretching the view*/
      /* overflow: hidden; */
    }
  }